# -------------------------------------------------------------
# VARIABLES DE ENTORNO OFICIALES (Identera)
# Renombra este archivo a ".env" e ingresa tus llaves.
# -------------------------------------------------------------

# Nombre de la tabla en DynamoDB (Debe coincidir con la de AWS)
DYNAMODB_TABLE_NAME=IdenteraDB

# Credenciales de Seguridad de tu cuenta de Amazon Web Services
AWS_ACCESS_KEY_ID=tu_clave_de_acceso_aqui
AWS_SECRET_ACCESS_KEY=tu_clave_secreta_aqui
AWS_REGION=us-east-1
